<footer>
    <p>&copy; 2024 Thang Nguyen. All rights reserved.</p>
</footer>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <div class="container-fluid justify-content-around">
        <a class="navbar-item" href="/">
            <i class="fas fa-cogs"></i>
            Settings
        </a>
        <a class="navbar-item" href="/contact">
            <i class="fas fa-envelope"></i>
            Contact
        </a>
        <a class="navbar-item" href="/about">
            <i class="fas fa-home"></i>
            About Us
        </a>
    </div>
</nav> -->