<!-- Fullscreen Container -->
<div class="fullscreen-container" id="fullscreenContainer">
  <span class="nav-arrow prev" id="prevArrow"><i class="bi bi-arrow-left-square-fill"></i></span>
  <img src="" alt="Full Screen Image" id="fullscreenImage">
  <span class="nav-arrow next" id="nextArrow"><i class="bi bi-arrow-right-square-fill"></i></span>
  <span class="close-fullscreen" id="closeFullscreen"><i class="bi bi-x"></i></span>
</div>