<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4 text-justify">
      <p><b>We're here to help!</b> If you have any questions, feedback, or need support, 
        please feel free to reach out to us. 
        Our team is dedicated to providing you with the best service possible.</p>
    </div>
    <div class="col-sm-4 text-dark-sm"> 
      <p><i class="bi bi-envelope-at"></i> Email: <a href="mailto:thangqnguyen@gmail.com">thangqnguyen@gmail.com</a></p>
    </div>
    <div class="col-sm-4 text-dark-sm"> 
      <p><i class="bi bi-telephone"></i> Phone: <b>+1 (714) 579-5408</b></p>
    </div>
  </div>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>